Ejemplos de códigos VHDL de caracter generico y que sirven como apoyo complementario.

Los códigos se encuentran en archivo \textbf{.vhd} compatible con quartus, se recomienda *copy-paste* para evitar problemas de compatibilidad.

Los ejemplos son propios, desarrollados en clase y sin fines de lucro.


BEAS

